* {
    overflow: auto ;
}

body {
                background-color: #8BA1BB ;
                font-family: Arial;
                margin: 0;
            }
            p.categorie {
                background-color: black;
                color: white;
                display: inline-block;
                margin-top: -15px;
                margin-bottom: 0px;
                padding: 8px 18px;
                font-size: 16px;
                font-weight: bold;
            }
            div.categorie {
                margin-bottom: 0px;
                margin-top: 0px;
                overflow: visible;
            }
            div.contenu {
                background-color: white;
                margin: 40px 8px 40px 8px;
                padding: 0px 8px 20px 8px;
                box-shadow: 0px 0px 8px 8px rgba(0, 0, 0, 0.1);
                overflow: visible;
            }
            h1 {
                text-align: center;
                margin-bottom: 10px;
                margin-top: 15px;
            }
            p.description {
                text-align: center;
                max-width: 400px;
                display: inline-block;
                margin-top: 25px;
                font-size: 14px;
            }
            .centre{
                text-align: center;
                width: 100%;
            }
            div.separateur {
                background-color: black;
                height: 1px;
                width: 100px;
                margin-left: auto;
                margin-right: auto;
            }
            table.infos {
                position: absolute;
                bottom: 0; 
                width: 100%;
                color: white; 
                background-color: #6C829DC0;
                height: 50px;
            }
            div.infos {
                position: relative;
            }
            table.infos td {
                text-align: center;
                font-size: 12px;
               vertical-align: top;
            }
            table.infos th {
                font-size: 14px;
                vertical-align: bottom;
                padding: 8px;
            }
            img.infos {
                display: block;
                max-height: 400px;
                object-fit: cover;
                min-height: 200px;
                background-color: lightgray;
            }
            div.colonne {
                width: 100%;
                margin-top: 20px;
            }
            div.colonne h2 {
                text-align: center;
                text-transform: uppercase;
                font-size: 18px;
                border-bottom: 5px solid #6C829D;
                padding: 5px;
            }
            div.colonne1 {
                display: inline-block;
            }
            div.ingredient p {
                text-align: center;
                font-size: 14px;
                border: 1px solid lightgray;
                padding: 4px 0;
                margin-top: 4px;
                margin-bottom: 0;
            }
            table.preparation p.numero {
                background-color: #6C829D;
                width: 25px;
                height: 25px;
                text-align: center;
                font-size: 14px;
                padding-top: 4px;
                border-radius: 50%;
                box-sizing: border-box;
                color: white;
                font-weight: bold;
                margin: 0;
            }
            table.preparation td {
                vertical-align: top;
            }
            table.preparation td.preparation_etape {
                font-size: 14px;
                padding-left: 10px;
                padding-bottom: 10px;
            }
            table.preparation tr {
                height: 40px;
            }

/* style pour ordinateur */
@media only screen and (min-width: 768px) {
    div.contenu {
        margin: 60px 10% 50px 10%;
        padding: 0px 30px 30px 30px;
        min-width: 768px;
    }
    table.infos {
                height: 90px;
    }
    table.infos td {
                font-size: 14px;
    }
    table.infos th {
                font-size: 16px;
    }
    div.colonne {
                width: 45%;
    }
    div.colonne1 {
                margin-right: 10%;
    }
    div.colonne2 {
                float: right;
    }
}
@media only screen and (min-width: 768px) {
    div.contenu {
        margin-left: auto;
        margin-right: auto;
        width: 645px;
    }
}